<!DOCTYPE html>
<html lang="en">

<head>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<h1 ><i style="color:grey" class="fa fa-users"></i> Why Buy if you can lend it and borrow it? <i style="color:grey" class="fa fa-users"></i></h1>

<div>
  <p class="notice"><%= notice %></p>
  <p#class="alert"><%= alert %></p>
  <%= yield %>
  <p><%= current_user.email %></p>
  <h3>Available Items</h3>
  <div id="available_items">
  </div>
  <%= link_to('Items', items_path, class: "btn btn-primary")%>
  <br/>
</div>

<br/>
<div>
  <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-warning") %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path, class: "btn btn-primary")  %>
  </li>
<% end %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Edit Registration', edit_user_registration_path, class: "btn btn-info") %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path, class: "btn btn-info")  %>
  </li>
<% end %>
</div>
</body>
