
  <%= form_for (@item) do |f| %>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibed this <strong>item<strong> to be saved.</h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </div>
    <br/>
    <div class="form-group">
      <%= f.label :description %><br/>
      <%= f.text_area :description, size: "48x6" %>
    </div>
    <div class="checkbox">
      <%= f.label :available %>
      <%= f.check_box :available %>
      <br/>
    </div>
    <div>
      <%= f.label :image %><br/>
      <%= f.file_field :image %>
    </div>
    <div class="form-group">
      <%= f.label :start_avail %><br/>
      <%= f.date_field :start_avail %>
    </div>
    <div class="date">
      <%= f.label :finish_avail %><br/>
      <%= f.date_field :finish_avail %>

    </div>
    <br/>
    <div class="btn">
      <%= f.submit (@item.new_record? ? "Create" : "Update"), class: "form-control btn-primary" %>
    </div>
  </div>
  <% end %>
