<div>
  <%= form_for (@item) do |f| %>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibed this <strong>item<strong> to be saved.</h2>

      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => @item.user.id%>
  <div class="form-group">
    <div class="field">
      <%= f.label :name %><!--<br/>-->
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </div>
    <div class="checkbox">
      <%= f.label "Make it available"  %><br/>
      <%= f.check_box :available %>
    </div>
    <div class="date">
      <%= f.label "Start date to post item" %><br/>
      <%= f.date_field :start_avail %>
    </div>
    <div class="date">
      <%= f.label "Keep item posted until" %><br/>
      <%= f.date_field :finish_avail %>
    </div>
  </div>
  <% end %>
</div>
