<!DOCTYPE html>
<html lang="en">

<head>
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>

<body>
  <%= render 'layouts/header' %>


  <main class="container">
    <h1>
      <%= @item.name.titleize %>
    </h1>

    <div>
      <% if @item.available? %>
        <h3 style="color:green">This item is available <i class="fa fa-toggle-on"></i></h3>
      <% else %>
        <h3 style="color:darkred">This item is not available <i class="fa fa-toggle-off"></i></h3>
    <% end %>
    </div>
    <p><%= @item.description %></p>

    <div>
      <br/>
      <br/>
      <%= render 'form' %>
    </div>
    <div>
      <br/>
      <br/>
      <%= link_to 'Return', items_path, class: "btn btn-default", style: "float: left" %>
    </main>
</body>
</html>
